#demo-panel .x-panel-body {
    background: url('../img/desktop.jpg');
}
#player-window .xap-player {
    cursor: move;
}
#player-window .x-form-item {
    cursor: default;
}

#player-window.x-window {
    overflow: visible;
    padding: 0;
    border: 0;
}
#player-window .x-window-body {
    border: 0;
    background: transparent;
}
#player-window .x-window-ml {
    padding: 0 !important;
}
#player-window .x-window-mc,
#player-window .x-window-mr,
#player-window .x-window-ml {
    background: none;
}
#player-window .x-window-tl {
    height: 0;
}
#player-window .x-frame-mc {
    overflow: visible;
}