.xap-player .x-panel-body {
    border: none;
    background-color: #626566;
}
.xap-player .x-toolbar {
    height: 36px;
    background-color: #626566;
    border: 0;
}
.xap-playlist .x-panel-body {
    border: none;
}
.xap-player,
.xap-playlist {
    border: 1px solid #808080;
    font-family: helvetica, arial;
}

.xap-player .x-btn-toolbar {
    background: transparent;
    border: 0;
}
.xap-trackslider {
    margin-top: 5px;
    padding: 0 3px
}
.xap-trackslider .x-slider-horz {
    background-position: 0 -182px;
}
.xap-trackslider .x-slider-horz .x-slider-end {
    background-position: -1px -182px;
    background-repeat: repeat;
}
.xap-trackslider .x-slider-horz .x-slider-inner {
    height: 16px;
    background-position: 0 -170px;
}
.xap-trackslider .x-slider-horz .x-slider-thumb {
    height: 16px;
    width: 16px;
    top: 0;
    background-position: 0 -132px;
}
.xap-trackslider .x-slider-horz .x-slider-thumb-over
{
    background-position: -16px -132px;
}
.xap-volumeslider .x-slider-horz {
    background-position: 0 -204px;
}
.xap-volumeslider .x-slider-horz .x-slider-end {
    background-position: -45px -204px;
    background-repeat: repeat;
}
.xap-volumeslider .x-slider-horz .x-slider-inner {
    height: 12px;
    background-position: 0 -195px;
}
.xap-volumeslider .x-slider-horz .x-slider-thumb {
    height: 12px;
    width: 12px;
    top: 0;
    background-position: 0 -148px;
}
.xap-volumeslider .x-slider-horz .x-slider-thumb-over {
    background-position: -12px -148px;
}
.xap-volumeslider .x-slider-horz {
    padding-left: 5px;
}
.xap-volumeslider .x-slider-horz .x-slider-end {
    padding-right: 5px;
}

.xap-player .xap-prev,
.xap-player .xap-next {
    width: 20px !important;
    height: 20px;
}
.xap-player .xap-prev {
    background-position: 0 -60px
}
.xap-player .xap-next {
    background-position: 0 -80px
}
.xap-player .xap-play,
.xap-player .xap-pause {
    width: 30px !important;
    height: 30px;
}
.xap-player .xap-pause {
    background-position: 0 -30px;
}
.xap-player .xap-muted {
    background-position: 0 -116px;
}
.xap-player .xap-unmuted {
    background-position: 0 -100px;
}
.xap-player .xap-arrow-down,
.xap-player .xap-arrow-up {
    width: 9px !important;
    height: 9px;
}
.xap-player .xap-arrow-down {
    background-position: 0 -160px;
}
.xap-player .xap-arrow-up {
    background-position: -27px -160px;
}
.xap-player button,
.xap-player .x-slider-horz,
.xap-player .x-slider-horz .x-slider-thumb,
.xap-player .x-slider-horz .x-slider-end,
.xap-player .x-slider-horz .x-slider-inner {
    background-image: url('../img/player.png');
}


.xap-trackinfo .x-panel-body {
    background-color: #FEFFE5;
    color: #5B5D35;
    border: 4px solid #161616;
    font-weight: bold;
    font-size: 11px;
}

.xap-time-elapsed,
.xap-id3,
.xap-time-total {
    float: left;
    text-align: center;
}

.xap-time-elapsed,
.xap-time-total {
    width: 40px;
    margin-top: 16px;
}
.xap-id3 {
    margin-top: 8px;
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
}